# sawonGroup
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Translations
*.mo
*.pot

# Flask specific files
instance/
*.db
*.sqlite3
*.log

# Environment variables file
.env
.flaskenv

# Virtual environment folders
venv/
.venv/
env/

# Jupyter Notebook
.ipynb_checkpoints/

# IDE files
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# MacOS files
.DS_Store

# Windows files
Thumbs.db
ehthumbs.db


